.expandedFeature {
  .expandedFeature__content {
    .expandedFeature__top {
      background-color: #f4f4f4;
      padding: 70px 0;
      h2 {
        color: rgb(217, 46, 20);
        font-size: 3.2rem;
        line-height: 40px;
        margin-bottom: 40px;
        font-family: font_regular !important;
      }
      a {
        position: relative;
        padding: 1.6rem 2.8rem 1.4rem;
        text-decoration: none;
        &:hover {
          &::before {
            transform: scale(1.07);
            background-color: #1700f4;
            border: transparent;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          background-color: #00095b;
          border: 1px solid #00095b;
          border-radius: 2rem;
          box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.301);
          transform: scale(1);
          transition: all 0.3s;
        }
        span {
          color: #fff;
          font-size: 1.8rem;
          line-height: 1.8rem;
          letter-spacing: 1px;
          position: relative;
          font-weight: 400;
          text-align: center;
          pointer-events: none;
        }
      }
    }
    .expandedFeature__bottom {
      .expandedFeature__bottom-title {
        cursor: pointer;
        padding: 30px 20px;
        h2 {
          font-size: 1.6rem;
          color: #0276b3;
          text-align: center;
          padding: 10px 10px;
          border: 1px solid #0276b3;
          transition: all 0.2s;
          &:hover {
            color: #00095b;
            border: 1px solid transparent;
          }
          i {
            transition: all 0.3s;
          }
        }
      }
      div[aria-expanded="true"] {
        i {
          transform: rotate(180deg);
        }
      }
      .expandedFeature__bottom-text {
        background-color: #f7f7f7;
        color: #333;
        font-size: 1.2rem;
        padding: 40px 45px;
        max-height: 240px;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
          overflow: hidden;
          width: 1.1rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #ccc;
          width: 1.1rem;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background-color: #0276b3;
          width: 1.1rem;
        }
        ul {
          padding-left: 20px;
          li {
            h2 {
              font-weight: 500;
              line-height: 1.1;
            }
            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
